#ScoreboardBase
{
    /*margin-top: 70px;*/
    margin-left: 70px;

    width: 500px;
    vertical-align: top;
    flow-children: up;
    
}

.ScoreboardTitleText
{
    font-size: 36px;
    color: #dddddd;
    horizontal-align: center;
}

.ScoreboardTitleBackground
{
    background-color: rgb(0, 0, 0);
    border: 2px solid #dddddd;
    
    /* width: 391px; */
    width: 500px;
}

#ScoreboardPlayerList
{
    flow-children: down;
}
.ScoreboardPlayerContainer
{
    flow-children: left;
    height: 50px;
}
.ScoreboardPlayerIcon
{
    width: 50px;
    height: 50px;
    border: 2px solid #dddddd;
}
.ScoreboardAvatar
{
    width: fill-parent-flow(1);
    height: fill-parent-flow(1);
}
.ScoreboardUsernameContainer
{
    height: 50px;
    width: 270px;
    background-color: rgba(0, 0, 0, 0.664);
    border: 2px solid #dddddd;
}
.ScoreboardUsername
{
    font-size: 20px;
    color: #dddddd;
    
    vertical-align: center;
    horizontal-align: center;
}
.ScoreboardPlayerScoreContainer
{
    width: 70px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.664);
    border: 2px solid #dddddd;
}
#PlayerScore
{
    font-size: 20px;
    color: #dddddd;

    vertical-align: center;
    horizontal-align: center;
}
#ScoreboardReadyContainer
{
    width: fill-parent-flow(1);
    vertical-align: center;
}
#ScoreboardReady
{
    horizontal-align: center;
    
    font-size: 22px;
    color: #ff0000;
    text-shadow: 1px 1px 1px 3.0 #33333346;
}